.myButton {
  border: none;
  height: 46px;
  padding: 0px 27px;
  background-color: transparent;
  min-width: 40px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1em;
  border-radius: 4px;
  color: white;
}
.myButton:hover {
  background-color: #B6A47F
}

.myInput {
  border: none;
  outline: none;
  height: 46px;
  padding: 0px 27px;
  background-color: #b6a47f;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
}

.myInput::placeholder {
  color: rgba(255, 255, 255, 0.504)
};