.Footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.508);
  padding: 0px 40px;
  margin-top: 20px;
}

.col_1 {
  width: 30%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.col_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
