* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RepSidebar {
    width: 90%;
    margin-left: 8%;
    margin-bottom: 30px;
    box-shadow: 1px 3px 15px -2px black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 30px;
    background-color: #f7ecb8;

}

.RepSidebar ul {
    width: 100%;
}

.RepSidebar li {
    color: rgb(87, 82, 82);
    width: 100%;
}

.RepSidebar a {
    display: block;
    padding: 4px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.RepSidebar a:hover {
    padding-left: 20px;
    color: black;
    background-color: #eec674;
}

