* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #000;
    all: unset;
}
body {
    /* background-color: #ce9f89; */
    background-color: #FFF0A1;
}
