* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #000;
    all: unset;
}
.body {
    /* background-color: #ce9f89; */
    background-color: #f1f1f1;
}

.background{
    width: 100%;
    height: 100vh;
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    z-index: -1;
}
