* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    background-color: #81c281;
}
a {
    text-decoration: none;
    color: #000;
    all: unset;
}
.body {
    padding: 30px;
}
.background {
    background-repeat: no-repeat;
    position: relative;
}
